<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
    <title>{{ title }} - PyBlog</title>
</head>
<body>


<div class="header">
    <h1>Welcome to PyBlog {{current_user.username}}!</h1>
    <div class="grsu">
        <img src="https://elib.grsu.by/sites/all/themes/lib2013t3/img/logo.png">
    </div>
</div>

<div class="topnav">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}" style="float:right">Login</a>
    {% else %}
    <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
    <a href="{{ url_for('logout') }}" style="float:right">Logout</a>
    {% endif %}
</div>
<div class="row">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert-info">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>

<div class="footer">
    <h2>Footer</h2>
    <h3>@Copyright Ilya Keduk GRSU_ITS-181</h3>
</div>

</body>
</html>
