{% extends "base.html" %}

{% block content %}
    <div class="leftcolumn">
    {% for post in posts %}
        <div class="card">
            <h2>{{ post.title }}</h2>
            <h4>{{post.author.username}}, Apr 23,2021</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>{{post.body}}</p>
        </div>
    {% endfor %}
    </div>
    {% if current_user.is_authenticated %}
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;"></div>
            <p>Student of GRSU</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>
    </div>
    {% endif %}
{% endblock %}